# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
macos/Flutter/ephemeral/
macos/Pods/

# iOS
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/

# Android
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web
web/.dart_tool/

# Hive local data
*.hive
*.lock

# Pub
pubspec.lock
